CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
Makefile
build/
video/
cmake_install.cmake
**/cmake_uninstall.cmake

*.o
**/*.vim*
**/*.swp
**/*.swo
**/tags
**/*.deb
**/*.rpm
*.autosave
*.vscode
*.check
